:root {
  /* colors */
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-dark: #444;
  --color-border: #D9D9D9;
  --color-red: #A30C33;

  /* bg */
  --bg-button: #B01736;
  --bg-button-hover: #D43152;
  --bg-directions-text: #2D3653;
  --bg-directions-cards: #2d3653;
  --bg-circle-grey: #F0F0F0;;
}